hostname {{hostname}}
{%if interfaces%}
{%for intf , int_config in interfaces.items()%}
interface {{intf}}
  ipv4 address {{int_config['ipaddr']}}/{{int_config['sm']}}
  no shutdown
!
{%endfor%}
{%endif%}

{%if ospf %}
router ospf 1
  router-id {{ospf['ospf_id']}}
  area {{ospf['area']}}
{%for ospf_intf in ospf['interfaces']%}
    interface {{ospf_intf}}
    !
{%endfor%}

{%endif%}

{%if bgp %}
router bgp {{bgp['local_as']}}
  bgp router-id {{bgp['bgp_id']}}
  address-family ipv4 unicast
  !
{%for neighbor , neighbor_info in bgp['neighbors'].items()%}
  neighbor {{neighbor_info['neighbor_address']}}
   remote-as {{neighbor_info['neighbor_as']}}
   update-source Loopback0
   address-family ipv4 unicast
   !
  !
  !  
{%endfor%}
{%endif%}
